ppt/Archive/Guest lecture/SMS_Application/SMS_Application/Service References/SMService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://venus.eas.asu.edu/WSRepository/Services/SMS_Service/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMS_Service" />
  <xs:element name="SMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Gmail_Account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMS_Service" minOccurs="0" name="Provider" type="q1:CARRIER" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SMSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>